html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  font-size: .75rem;
  position: absolute;
  bottom: 0;
}

h2 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.img-flex {
  display: block;
  width: 100%;
}

header {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
